@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.wrapper {
	margin: auto;
	width: 1215px;
	height: 1064px;
	background: url('../img/bg.jpg');
	font-family: "Helvetica Neue";
}

/*navigation panel*/
.nav_top {
	margin: 0;
	background: #085292;
	font-size: 14px;
}

.nav_top ul {
	padding-left: 480px;
	padding-top: 0;
}

.nav_top .top_menu:hover {
	background: #4EABDA;
	color: #FFF;
}

.top_menu {
	display: inline-block;
	padding: 0 10px;
	color: #4EABDA;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	vertical-align: top;
}

.name_user {
	display: inline-block;
	padding: 0 10px;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	vertical-align: top;
}

.ola {
	display: inline-block;
	padding: 0 10px;
	color: #FFF;
	background: #4EABDA;
	text-align: center;
	line-height: 40px;
	vertical-align: top;
}


.txt-top {
	text-decoration: underline;
}

.txt-send {
	position: relative;
	top: -2px;
	font-size: 14px;
	font-family: Arial; 
	line-height: 20px;
	color: #FFF;
}

.flag {
	display: inline-block;
	margin: auto;
	padding: 4px 10px 0 10px;
}

/*grey forma*/
.cadastre {
	width: 560px;
	height: 62px;
	margin: 210px 0 0 352px;
	background: rgba( 0, 0, 0, 0.63);
	line-height: 62px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.photo {
	display: block;
	margin: auto;
	padding-top: 36px;
}

.ou1 {
	float: right;
	margin-top: 37px;
	margin-right: 142px;
	width: 123px;
	border-bottom: 1px solid #666666;
}

.ou2 {
	float:left;
	margin-top: 37px;
	margin-left: 142px;
	width: 123px;
	border-bottom: 1px solid #666666;
}


.ou3 {
	float: right;
	margin-right: 142px;
	width: 123px;
	border-top: 1px solid #000000;
}

.ou4 {
	float:left;
	margin-left: 142px;
	width: 123px;
	border-top: 1px solid #000000;
}

.photo_ou {
	position: absolute;
	top: 103px;
	left: 270px;
}

.form-bg {
	position: relative;
	width: 560px;
	height: 550px;
	margin: 2px 0 0 352px;
	background: rgba( 0, 0, 0, 0.63);
}

.clear { 
	clear: both; 
}

/*form*/

.form-container {
	margin: auto;
	width: 276px;
	padding-top: 38px;
}


.input-f1 {
	width: 258px;
	height: 30px;
	margin-bottom: 18px;
	padding-left: 18px;
	background: #000;
	border: none;
	border-bottom: 1px solid #484848;
	color: #fff;
	font-size: 14px;
}	


.input-f1:hover {
	border: none;
	background: #1B5288;
	color: #fff;
	border-bottom: 1px solid #689BCC;
	box-shadow: 0 0 4px 4px rgba(79,138,180,0.7); 
}


.submit-container {
	padding-top: 20px;
	text-align: center;
}

#submit{
	width: 160px;
	font-size: 14px;
	font-weight: bold;
	color: rgba(255,255,255,.9);
	text-shadow: #2e7ebd 0 1px 2px;
	text-decoration: none;
	text-align: center;
	line-height: 1.1;
	white-space: pre-line;
	padding: .7em 0;
	border: 1px solid;
	border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
	border-radius: 6px;
	outline: none;
	background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
	box-shadow: inset rgba(255,255,255,.5) 1px 1px;
}


#submit:hover {
  color: rgb(255,255,255);
  background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}

.txt-bottom {
	margin: auto;
	width: 310px;
	padding-top: 20px;
	font-size: 11px;
	font-family: Arial; 
	text-align: center;
	line-height: 1.3;
	color: #FFF;
}
