
table {
	margin: auto;
	border-collapse: collapse; 
    border: 6px solid #fff; 
}

td {
	border: 5px solid black; 
}

.red {
	color: #ff6548;
	background: url('../img/red.png') repeat;
}

.yellow {
	color: #ffea59;
	background: url('../img/yellow.png') repeat;
}

.blue {
	color: #064380 ;
	background: url('../img/blue.png') repeat;
	
}

.black {
	color: #192823;
	background: url('../img/black.png') repeat;
}

.white {
	color: white;
	background: white;
}

.h {
	height: 50px; 
}

.h2 {
	height: 100px; 
}

.h3 {
	height: 150px; 
}

.h4 {
	height: 200px; 
}

.h_ {
	height: 30px; 
}

.w {
	width: 50px;
}

.w2 {
	width: 100px;
}

.w3 {
	width: 150px;
}

.w4 {
	width: 200px;
}
