.layer1 { 
	background: #EEEEEE; 
} 

table {
	margin: auto;
	border-collapse: collapse; 
    border: 6px solid #EEEEEE; 
}

td {
	border: 5px solid black; 
}

.red {
	color: red;
	background: red;
}

.yellow {
	color: yellow;
	background: yellow;
}

.blue {
	color: blue ;
	background: blue ;
	
}

.black {
	color: #192823;
	background: #192823;
}

.white {
	color: white;
	background: white;
}

.h {
	height: 50px; 
}

.h2 {
	height: 100px; 
}

.h3 {
	height: 150px; 
}

.h4 {
	height: 200px; 
}

.h_ {
	height: 30px; 
}

.w {
	width: 50px;
}

.w2 {
	width: 100px;
}

.w3 {
	width: 150px;
}

.w4 {
	width: 200px;
}
