/* gray background*/

.layer1 { 
	background: #EEEEEE; 
} 

/* white background */

.layer2 { 
	margin: auto;
	width: 1062px;
	background: #FFFFFF;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	font-family: Arial; 
	font-weight: bold;
	letter-spacing: normal;
}

/* name*/

h1 { 
	font-size: 40px;
	text-align: left; 
	padding: 50px 0 0 40px ;
} 

/* Top navigation */

.nav_top {
	margin: 40px 40px;
	background: #4C4C4C;
}

.button1 {
  display: inline-block;
  padding: 1em 20px;
  text-decoration: none;
  outline: none;
}

.button1:hover {
	background: #2F2F2F;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.nav_top li {
	margin-left: 50px;
	font-size:14px; 
	line-height: 10px;
	letter-spacing:normal; 
	border: 1px solid #4C4C4C;
}

.nav_top li a{
	color:  #FFFFFF;
	text-decoration: none;
}

.nav_top li:first-child {
	margin-left: 1px;
	
}

/*left navigation*/

.nav_left {
	float: left;
	margin: 0 50px 20px 40px;
	line-height: 3; 
	border: 2px solid #c8c8c8;
}

.nav_left li {
    font-size: 14px; 
    height: 40px;
	width: 230px;
	padding-left: 20px;
   	border: 1px solid #c8c8c8;
}

.nav_left li a {
	color: #4F4F4F;
	text-decoration: none;
}

.nav_left li:hover {
	background: #f9f9f9;
	padding-left: 30px;
	width: 220px;
}

/* image*/

img {
	padding: 40px 86px;
	border: 3px solid #c8c8c8;
}

/* Lorem*/

p {
	margin: 40px 60px 50px 370px;
	text-align: left;
	font: bold 15px calibri;
	line-height: 1.5;
}

/*bottom navigation*/

.nav_bott {
	padding-bottom: 40px;
}

.nav_bott ul {
	margin: 40px 40px 0 40px;
	background: #E1E1E1;
}
 
.button2 {
  display: inline-block;
  text-decoration: none;
  padding: 1em 20px;
  outline: none;
}

.button2:hover {
	text-decoration: underline;
}


.nav_bott li {
	font-size:14px; 
	margin-left: 50px;
	line-height: 10px;
	letter-spacing:normal; 
	border: 1px solid #E1E1E1;
}

.nav_bott li a {
	color: #4F4F4F;
	text-decoration: none;
}

.nav_bott li:first-child {
	margin-left: 2px;
}


.nav_bott li:last-child {
	margin-left: 200px;
	text-align: right;
	color:  #4F4F4F;
}

.nav_bott li:last-child:hover {
	text-decoration: none;
}
